@import url('https://unpkg.com/bootstrap@3.3.7/dist/css/bootstrap.min.css');

* {
    margin: 0;
}

.container-fluid {
    background-color: whitesmoke;

}

  /*Logo Styling*/

h1 {
    font-family: 'Libre Baskerville', serif ;
    color: darkgreen;
    font-weight: 800;
    font: size 2em;
    text-decoration: none;
    text-align: center;
    padding: 6%;
}

  /*nav area styling*/

header a {
    text-align: center;
    text-decoration: none;
    color: darkslategray;
    font-weight: 600;
    font-size: 1.5em;
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: 100%;
    justify-content: space-between;
}

.container-fluid {
    text-align: center;
}

button.list-group-item.list-group-item-action.px-3.border-0 {
    width: 100%;
    margin-left: 1em;
    margin-right: 1em;
    text-align: center;
}

#menu.list-group.list-group-horizontal-sm.me-0 {
    background-color: white;
}

  /*footer styling */

footer {
    background-color: white;
    padding: 1em;
}

footer h3 {
    font-weight: 600;
    font-size: 1.7em;
    color: darkgreen;
    font-family: 'Libre Baskerville', serif ;
}

.btn.btn-floating.m-1 {
    font-weight: 500;
    font-size: 1.6em;
    color: darkslategray;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

li a.page-link { 
    font-weight: 500;
}

/*style recipe cards */
.card {
    background-color: transparent;
    border: none;
}

h3.card-header {
    color: darkgreen;
    font-family: 'Libre Baskerville', serif;
}

.row {
    justify-content: center;
    margin: 1%;
    padding: 1%;
}

h4.author {
    color: black;
}

body.container-fluid {
    margin: 1%;
}

.card-footer.pb-3 {
    font-size: 1.3em;
    color: darkslategray;
}

/* style of recipe page, member recipe page */


.description-title h3, 
.ingredients-title h3 {
    text-align:left;
    padding: 1%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 500;
    color: darkslategray;
}

.instructions-title h3 {
    text-align:left;
    padding: 1%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 500;
    color: darkslategray;
}

.recipe-description.col.card.mb-4.mt-3,
.recipe-ingredients.col.card.mb-4.mt-3, 
.recipe-instructions.col.card.mb-4.mt-3 {
    text-align: Left;
    padding: 1%;
    color: darkslategray;
    font-weight: 500;
    font-size: 1.2em;
}

.card-body {
    background-color: white;
}

/*style loggout message*/

.btn.btn-signout {
    font-weight: 600;
    font-size: 1.3em;
    background-color: lightgrey;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 5%;
}

