{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A website to find simple, easy recipes and share your favourites">
    <meta name="keywords" content="simple recipe, easy recipe, easy, simple, cooking, home, tasty">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Montserrat&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/e576ca19f3.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

</head>

<body class="container-fluid">
       <!--top of every page-->
  <header>
      
    <a href="{% url 'home' %}"><h1>Nice and Easy Recipes</h1></a>
        

    <div class="list-group list-group-horizontal-sm me-0" id="menu">

      <button type="button" class="list-group-item list-group-item-action px-3 border-0"><a href="{% url 'home' %}">Home</a></button>
      <button type="button" class="list-group-item list-group-item-action px-3 border-0"><a href="{% url 'submission_list' %}">Member's Recipes</a></button>
      {% if user.is_authenticated %}
      <button type="button" class="list-group-item list-group-item-action px-3 border-0"><a href="{% url 'submit' %}">Submit a Recipe</a></button> 
      <button type="button" class="list-group-item list-group-item-action px-3 border-0"><a href="{% url 'edit_profile' %}">Edit Profile</a></button> 
      <button type="button" class="list-group-item list-group-item-action px-3 border-0"><a href="{% url 'account_logout' %}">Log Out</a></button>
      {% else %}
      <button type="button" class="list-group-item list-group-item-action px-3 border-0"><a href="{% url 'account_login' %}">Log In</a></button>
      <button type="button" class="list-group-item list-group-item-action px-3 border-0"><a href="{% url 'account_signup' %}">Sign Up</a></button>
      {% endif %}
    </div> 
    
    {% include 'messages.html' %}
            
  </header>
  
  <main>

        {% block content %}

        {% endblock content %}
  </main>



  <footer>
        
    <div class="footer-content">
         
      <a href="{% url 'home' %}"><h3 class="text-center">Nice and Easy Recipes</h3></a>

      <p class="text-center">
          Follow us on social-media
      </p>
    

        <section class="mb-4 text-center">
            <a class="btn btn-floating m-1" href="https://facebook.com" role="button" target="_blank" rel="noopener"
                aria-label="Visit our Facebook page (opens in a new tab)"><i class="fab fa-facebook-square"></i></a>

            <a class="btn btn-floating m-1" href="https://twitter.com" role="button" target="_blank" rel="noopener"
                aria-label="Visit our Twitter page (opens in a new tab)"><i class="fab fa-twitter-square"></i></a>

            <a class="btn btn-floating m-1" href="https://youtube.com" role="button" target="_blank" rel="noopener"
                aria-label="Visit our YouTube page (opens in a new tab)"><i class="fab fa-youtube-square"></i></a>

            <a class="btn btn-floating m-1" href="https://instagram.com" role="button" target="_blank" rel="noopener"
                aria-label="Visit our Instagram page (opens in a new tab)"><i class="fab fa-instagram"></i></a>



        </div>

        <div class="footer-bottom">
          <p>© Michelle Brady 2023</p>
        </div>

      
  </footer>

</body>
    

  
</html>
