{% extends "index.html" %}

{% block content %}

<div class="container-fluid justify-content-center p-0 me-2 ms-2">
    <div class="row justify-content-around vh100"> 
        <!--recipe entry-->
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% for member_recipe in member_recipe_list %}
        <div class="card-group col-sm-4">
                <div class="card" style="background-color:#bebcbc;">
                                {% if "placeholder" in post.featured_image.url %}
                                <img class="card-img-top"
                                    src="https://res.cloudinary.com/dhifyjuus/image/upload/v1677244923/enrdln0vg7f2igyturbd.jpg">
                                <a href="#!">
                                    <div class="mask" style="background-color: rgba(251, 251, 251, 0.15)"></div>
                                </a>    
                                {% else %}  
                                <img class="card-img-top" src="{{ member_recipe.featured_image.url }}">
                                <a href="#!">
                                    <div class="mask" style="background-color: rgba(251, 251, 251, 0.15)"></div>
                                </a>
                                {% endif %}

                            <a href="{% url 'member_recipe_detail' member_recipe.slug  %}">
                                <h3 class="card-header">{{ member_recipe.title }}</h3>
                                <h4 class="author">{{ member_recipe.user }}</h4>
                            </a>

                            <div class="card-footer pb-3" style="background-color: lightgray;">{{ member_recipe.created_on}} <i class="far fa-heart"></i>
                                 {{ member_recipe.number_of_likes }}</div>
                        </div>       
                </div>    
                {% if forloop.counter|divisibleby:2 %}
            <div class="row justify-content-around">
               {% endif %}
               {% endfor %}
            </div>
        </div>

</div>        
    {% if is_paginated %}
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center ">
            {% if page_obj.has_previous %}
            <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link" style="color: black; font-weight: 500; font-size: 1em;">&laquo; PREV </a></li>
            {% endif %}
            {% if page_obj.has_next %}
            <li><a href="?page={{ page_obj.next_page_number }}" class="page-link" style="color: black; font-weight: 500; font-size: 1em;"> NEXT &raquo;</a></li>

           {% endif %}
        </ul>
    </nav>
    {% endif %}
</div>
{%endblock%}