{% extends "index.html" %}

{% block content %}


<div class="container-fluid justify-content-center p-0 me-2 ms-2">
    <div class="row justify-content-center vh100"> 
        
        {% for submission in submission_list %}
        <div class="card-group col-sm-4">
                <div class="card" style="background-color:lightgray;">
                                {% if "placeholder" in submission.featured_image.url %}
                                <img class="card-img-top"
                                    src="https://res.cloudinary.com/dhifyjuus/image/v1689688861/pp4recipes/background-gdb682910f_1280_kscvsw.jpg" alt="photo of ingredients">
                                <a href="#!">
                                    <div class="mask" style="background-color: rgba(251, 251, 251, 0.15)"></div>
                                </a>    
                                {% else %}  
                                <img class="card-img-top" src="{{ submission.featured_image.url }}" alt="photo of ingredients">
                                <a href="#!">
                                    <div class="mask" style="background-color: rgba(251, 251, 251, 0.15)"></div>
                                </a>
                                {% endif %}

                            <a href="{% url 'submission_detail' submission.slug  %}">
                                <h3 class="card-header">{{ submission.title }}</h3>
                                <h4 class="author">Submitted by {{ submission.username_id }}</h4>
                            </a>

                            <div class="card-footer" style="background-color: lightgray;">{{ submission.created_on}} <i class="far fa-heart"></i>
                                {{ submission.number_of_likes }}</div>
                        </div>       
                </div>    
                {% if forloop.counter|divisibleby:2 %}

            <div class="row justify-content-center">
               {% endif %}
               {% endfor %}
            </div>
        </div>
</div>        
    {% if is_paginated %}
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center ">
            {% if page_obj.has_previous %}
            <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link" style="color: black; font-weight: 500; font-size: 1em;">&laquo; PREV </a></li>
            {% endif %}
            {% if page_obj.has_next %}
            <li><a href="?page={{ page_obj.next_page_number }}" class="page-link" style="color: black; font-weight: 500; font-size: 1em;"> NEXT &raquo;</a></li>

           {% endif %}
        </ul>
    </nav>
    {% endif %}
</div>
{%endblock%}